/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Estilos del contenedor principal */
.App {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
  font-size: 2em;
  color: #2ad2ff;
}

/* Estilos del formulario */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 70%;
  border: 2px solid #bde0fe;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

button {
  padding: 10px 15px;
  background-color: #2ad2ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff92d4;
}

/* Estilos de la lista de tareas */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item span {
  flex: 1;
  text-align: left;
  padding: 0 10px;
  color: #6272a4;
}

.todo-item button {
  background-color: #50fa7b;
}

.todo-item button:nth-child(2) {
  background-color: #ffb86c;
}

.todo-item button:nth-child(3) {
  background-color: #ff5555;
}

.todo-item button:hover {
  opacity: 0.8;
}

/* Añadir estilos personalizados */
.todo-item span.completed {
  text-decoration: line-through;
  color: #bd93f9;
}

@media (max-width: 600px) {
  .App {
    padding: 10px;
  }

  input {
    width: 60%;
  }
}
